@import url('@radix-ui/colors/tomato-dark.css');
@import url('@radix-ui/colors/mauve-dark.css');

:root {
	--studio-icon-size: 25px;
}

span[data-testid="Media"] svg,
div[data-ui="Text"] svg {
	max-width: var(--studio-icon-size);
	min-width: var(--studio-icon-size);
	width: var(--studio-icon-size);
}

body {
	margin: 0;
}

.dark-editor {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.mdxeditor {
	--baseBase: #00000000 !important;
	--basePageBg: #00000000 !important;
	background-color: #00000000 !important;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.ͼo {
	background-color: #00000000 !important;

}

.ͼo .cm-gutterElement {
	background-color: #00000000 !important;
}

.mdxeditor-toolbar {
	width: 100%;
	display: flex;
	gap: 4px;
	border: 1px solid var(--card-border-color);
	flex-wrap: wrap !important;
	overflow: visible !important;
	
}

.mdxeditor-toolbar div {
	margin-left: var(--spacing-1) !important;
}

.mdxeditor-root-contenteditable {
	border: 1px solid var(--card-border-color);
	border-radius: 4px;
}