:root {
	--studio-icon-size: 25px;
}

span[data-testid="Media"] svg,
div[data-ui="Text"] svg {
	max-width: var(--studio-icon-size);
	min-width: var(--studio-icon-size);
	width: var(--studio-icon-size);
}

body {
	margin: 0;
}