:root {
	--text-base-size: 14px;
	--text-scale: 1.2;

	--icon-base-size: 24px;
	--icon-scale: 1.5;

	--radius-size: 8px;
	--radius-scale: 1.2;
}

@theme {
	 /* BG - FG colours */
	--color-primary-bg: #0070f3;
	--color-secondary-bg: #f0f0f0;
	--color-primary-fg: #ffffff;
	--color-secondary-fg: #333333;

	/* Accent colours */
	--color-accent-primary: #ff4081;
	--color-accent-secondary: #6200ea;
	--color-accent-warning: #ff9800;
	--color-accent-success: #4caf50;
	--color-accent-error: #f44336;

	--animate-breathing: 'bounceScale 2s linear infinite';

	/* Scaling calculations */
	/* DON'T TOUCH */
	
	--text-sm: calc(var(--text-base-size) * (1 / var(--text-scale)));
	--text-base: var(--text-base-size);
	--text-lg: calc(var(--text-base-size) * (var(--text-scale)));
	--text-xl: calc(var(--text-base-size) * (var(--text-scale) ** 2));
	--text-2xl: calc(var(--text-base-size) * (var(--text-scale) ** 3));
	--text-3xl: calc(var(--text-base-size) * (var(--text-scale) ** 4));
	--text-4xl: calc(var(--text-base-size) * (var(--text-scale) ** 5));
	--text-5xl: calc(var(--text-base-size) * (var(--text-scale) ** 6));

	--radius-sm: calc(var(--radius-size) * (1 / var(--radius-scale)));
	--radius-base: var(--radius-size);
	--radius-lg: calc(var(--radius-size) * (var(--radius-scale)));
	--radius-xl: calc(var(--radius-size) * (var(--radius-scale) ** 2));
	--radius-2xl: calc(var(--radius-size) * (var(--radius-scale) ** 3));
	--radius-3xl: calc(var(--radius-size) * (var(--radius-scale) ** 4));
	--radius-4xl: calc(var(--radius-size) * (var(--radius-scale) ** 5));
	--radius-full: 9999px;
}