@import '../global.css';

@import url('@radix-ui/colors/tomato-dark.css');
@import url('@radix-ui/colors/mauve-dark.css');


@layer base {
	:root {
		--studio-icon-size: 25px;
	}

	span[data-testid="Media"] {
		svg {
			max-width: var(--studio-icon-size);
			min-width: var(--studio-icon-size);
			width: var(--studio-icon-size);
		}
	}
	div[data-ui="Text"] {
		svg {
			max-width: var(--studio-icon-size);
			min-width: var(--studio-icon-size);
			width: var(--studio-icon-size);
		}
	}

	body {
		@apply m-0;
	}

	.main-padding { @apply max-w-[1600px] w-full mx-auto px-6 sm:px-12 md:px-20 lg:px-32; }
}

.mdxeditor {
	@apply flex flex-col gap-2;
	h1, h2, h3, h4, h5, h6 { @apply font-heading font-bold text-accent-secondary mt-2 text-xl; }
	h1, h2 { @apply text-accent text-2xl; }
	p { @apply mt-2; }
	a { @apply hover-text; }
	em { @apply font-light; }
}

/* Matches sanity colours */
.mdxeditor .mdxeditor-toolbar {
	@apply border border-solid !border-[var(--card-border-color)];

  flex-wrap: wrap !important;
  overflow: visible !important;
	
	--baseBgActive: var(--card-focus-ring-color);
	--baseTextActive: var(--card-bg-color);
	--baseBg: var(--card-bg2-color);
	--baseText: var(--card-muted-fg-color);
  --baseTextContrast: var(--card-muted-fg-color);
}

.mdxeditor .mdxeditor-toolbar [data-state='on'] {
	--baseText: var(--card-bg-color);
  --baseTextContrast: var(--card-bg-color);
}

.mdxeditor .mdxeditor-toolbar div {
	@apply !ml-0 flex flex-row flex-wrap;
}

.mdxeditor .mdxeditor-rich-text-editor, .mdxeditor .mdxeditor-source-editor, .mdxeditor .mdxeditor-diff-editor {
	--baseBg: var(--card-bg-color)
	--baseText: var(--card-muted-fg-color);
  --baseTextContrast: var(--card-muted-fg-color);

	@apply border border-solid !border-[var(--card-border-color)] rounded !bg-[var(--baseBg)];
}

.mdxeditor .cm-gutterElement, .mdxeditor .cm-editor {
	--baseBg: var(--card-bg-color);
	--baseText: var(--card-border-color);
	--baseText: var(--card-muted-fg-color);

	@apply !bg-[var(--baseBg)];
}